header {
    min-height: 100px;
}

#last-drink-bckgrnd{
    min-height: 450px;
}

#las-joke-bckgrnd{
    min-height: 450px;
}

#last-excuses-bckgrnd{
    min-height: 450px;
}

@media screen and (max-width: 480px){
    #moreFunBtn{
        margin: 16px;
    }
}

@media screen and (min-width: 500px){
    #moreFunBtn{
        margin: 16px 26px 16px 0;

    }
}

@media screen and (min-width: 950px){
    #moreFunBtn{
        margin: 16px;
    }
}
