header {
    margin-bottom: 30px;
    min-height: 200px;
    padding-top: 60px;
}

#last-selections-section {
    margin: 40px 16px;
}


#last-selection-title {
    margin: 20px 0;
}


#drinks-refresh button{
    min-width: 100px;
}

#jokes-refresh button {
    min-width: 100px;
    
}

#excuse-refresh button {
    min-width: 100px;
  
}

#drinks-bckgrnd{
    min-height: 450px;
}


#excuses-bckgrnd{
    min-height: 450px;
}

#gt-drink-bckgrnd{
    min-height: 450px;
}

#gt-joke-bckgrnd{
    min-height: 450px;
}

#gt-excuse-bckgrnd{
    min-height: 450px;
}

@media screen and (max-width:480px) {
    #jokes-bckgrnd{
        min-height: 600px;
    }
    #go-to-favorites-btn{
        margin-right: 14px;
        margin-bottom: 16px;
    }
    
}

@media screen and (min-width:500px){
    #jokes-bckgrnd{
        min-height: 550px;
    }
    #go-to-favorites-btn{
        margin-right: 25px;
        margin-bottom: 16px;
    }
    
}

@media screen and (min-width:900px){
    #jokes-bckgrnd{
        min-height: 450px;
    }
    #go-to-favorites-btn{
        margin: 16px;
    }
    
}