
header{
    margin-bottom: 30px;
    min-height: 200px;
    padding-top: 60px;
}

#last-selections-section{
    margin: 40px 16px;
}


#last-selection-title{
    margin: 20px 0;
}
#drinks-refresh button{
    min-width: 100px;
}

#jokes-refresh button{
    min-width: 100px;
}

#excuses-refresh button{
    min-width: 100px;
}

#drinks-bckgrnd{
    min-height: 400px;
}

#jokes-bckgrnd{
    min-height: 400px;
}

#excuses-bckgrnd{
    min-height: 400px;
}